@font-face {
  font-family: Archivo;
  src: url(Fonts/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: SublimaBold;
  src: url(Fonts/sublima/Sublima-ExtraBold.otf);
}

@font-face {
  font-family: SublimaLight;
  src: url(Fonts/sublima/Sublima-Light.otf)
}



.header {
   
  text-align: center;
  font-family: SublimaBold;
  font-size: 25px;
  color: rgb(240, 240, 240);
  padding-bottom: 15px;
  
}

.header p {
  color: rgb(200, 200, 200);
  font-size: 15px;
  margin: -10px;
  
}

.navbar{
    
    font-family: SublimaBold;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(200, 200, 200);  
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar li a:hover{
  color: white;
}

.navbar li{
  padding: 0px 25px;
  display: inline-block;
  
}
.navbar a{
  padding-left: 15px;
  color: rgb(200, 200, 200);
  
}


.img-monster{
  width: 700px;
  margin-inline: 10px;
}

.img-FigureDrawing{
  width: 660px;
  margin-right: 10px;
  
}

.img-MISC{
  width:738px;
  margin-left: 10px;

}

.about-text{
  margin-top: 60px;
  font-family: Sublimabold;
  text-align:unset;
  color: white;
  font-size: 17px;
  text-align: center;
  max-width: 650px;
  
  margin: auto;
   
}

.logo-row{
  background-color: rgb(46, 46, 46);
  max-width: 550px;
  margin-top: -15px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 75px;
}

.about-software-logo{
  width: 75px;
  margin: 5px;
}

/*Main Content Stuff---------------------------*/

.wrapper{
  margin-top: 100px;
  text-align: center; 
}

.wrapper2{
  margin-top: 100px;
  text-align: center;
}

.wrapper div img:hover{
  opacity: .8;
  transition: 0.3s ease;

}

.sideTitle{
  color: white;
  font-family: SublimaBold;
  font-size: 30px;
  
}

.mainContent{
  position:relative;
  text-align: center;
}


/* check again here*/
.firstRow{
  padding-bottom: 20px;
  margin: auto;
}

.aboutRow{
  padding-bottom: 0px;
  margin: auto;
}

.secondRow{



}

.footerRow{
  margin-top: 300px;
}

.textOverImage{
  position: absolute;
  z-index: 10;

}

/*Drop Down Stuff -----------------------------*/

.dropdown {  
}

.dropbtn{
  text-decoration: none;
}

.dropdown .dropbtn {
    
  border: none;
  outline: none;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(36, 36, 36);
  min-width: 180px;
  z-index: 1;
  
  
}

.dropdown-content a {
  float: none;
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {
  display: block;
}